.create-clothes-container {
    max-width: 400px;
    width: 100%;
    background-color: white;
    padding: 2.5rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); 
    border-radius: 20px; 
    text-align: center;
    margin: auto;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
  }
  
  .create-clothes-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }
  
  label {
    font-size: 1rem;
    color: #666;
    text-align: left;
    margin-bottom: 0.5rem;
  }
  
  .form-row {
    display: flex;
    gap: 1rem;
  }
  
  .form-row input,
  .form-row select {
    flex: 1;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #f9f9f9;
  }
  
  input::placeholder, select {
    color: #aaa;
  }
  
  input:focus, select:focus {
    border-color: #333;
    box-shadow: 0 0 8px rgba(10, 72, 139, 0.5);
    background-color: white;
  }
  
  button {
    padding: 1rem;
    font-size: 1.1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #555;
    transform: translateY(-2px);
  }
  